/* Add your variable customizations of theme here */
/* Тук са подменените променливи, които се отразяват и на light и dark темите
   За да се сложи променлива конкретно за тъмния или светлия режим, 
   има отделни файлове _theme_variables_light/dark.scss
*/

$toggleButtonActiveBg: $primaryColor;
$toggleButtonActiveBorderColor: $primaryDarkColor;
$toggleButtonActiveHoverBg: $primaryDarkColor;
$toggleButtonActiveHoverBorderColor: $primaryDarkerColor;
